<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/nav.css">
<title>
AVENUE:hotel management system
</title>
</head>
<body>
<p class="red">
<img src="/static/main.jpg" alt="">
<span>AVENUE : HOTEL MANAGEMENT SYSTEM <br>created by:
<br> Surjeet Meena</span>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<ul>
<b>
<li><a><a href="#" onclick="AV()">HOME</a>
<ul>
<li><a href="/manager">MANGEMENT CELL</A></LI>
</UL>
</li>
<li><a><a href="/reception">RECEPTION</a>
<ul>
<li><a href="#" onclick="abc()">GUEST & SERVICES</A></LI>
</UL>
</li>
<li><a>BOOKINGS</a></a>
      <ul>
<li><a><a href="/booking">BOOK NOW</a></a></li>
<li><a><a href="/trans">TRANSPORTATION</a></a></li>
<li><a><a href="/guestroom">GUEST ROOMS</a></li>
<li><a><a href="/pool">POOL</a></a></li>
<li><a><a href="/TRY">GAME SLOTS</a></a></li>
<li><a><a href="/partyhal">PARTY HALL</a></a></li>
<li><a><a href="/wedding_hall">WEDDING HALL</a></a></li>
<li><a><a href="/meetinghall">MEETING HALL</a></a></li>

</ul></li>


<li><a>GALLERY</a>
<UL>
<li><a><a href="/gallery">OVERVIEW</a></a></li>
<li><a><a href="/VISIT">CELEBS VISIT</a></li>
</UL>
</li>
<li><a href="#">LOGIN</a></a>
<UL>
<li><a><a href="/login">GUEST LOGIN</a></a></li>
<li><a><a href="/login1">STAFF LOGIN</a></li>
</UL>
</li>
<li><a><a href="/contact">CONTACT US</a></a></li>
<li><a><a href="/about">ABOUT</a></a>
   
</b>
</ul>
<br>
<br>
<div class="alpha">
<img src="/static/bed2.jpg" id="e">
<div class="alpha-m">
<p1>OFFER<br><del>Rs.5999</del><br>Just <ins>Rs.3999</ins></p1>
</div>


<div class="beta">
<img src="/static/login.jpg" id="f">
<div class="beta-n">
<p2>POOLs<br>and <br>RESORT </p2>
</div>

<div class="game">
<img src="/static/game.jpg" id="x">
<div class="game-g">
<p3>SPACIOUS<br>INDOOR<br>GAMING</p3>
</div>




<img src="/static/1g.gif"  id="f1">


<img src="/static/2g.gif"  id="b1">
</p>
<SCRIPT>
function AV()
{
alert(" :-) YOU ARE ON HOME PAGE :-)");
}

function abc()
{
var a = prompt("enter guest ID")
if(a=="")
{
alert("please enter guest ID");
}
else
if(a=="ABCD")
window.open("/guest");
else
alert("invalid guest id");
}
</SCRIPT>


</body>
</html>