<html>
<head>
<link rel="stylesheet" href="/static/login.css">
<title>
AVENUE:login
</title>
</head>
<body>
<ul>
<li><a><a href="/hms">HOME</a></a></li>
</ul>
<div class="loginbox">
<img src="/static/log.png" class="log">
<h1>AVENUE : GUEST LOGIN</h1>
<form>
<p>GUEST ID</p>
<input type="text" id="username" name="username" placeholder="enter your guest id">
<p>PASSWORD</p>
<input type="password" name="password" placeholder="enter your password" id="password">
<input type="submit" name="" value="LOGIN" onclick="login()">
</form>
<br>
<a href="/forget">forgot password</a>
<a href="/new">create a new account</a>
</div>
<script>
function login()
{
var a=document.getElementById('username').value
var b=document.getElementById('username').value
if(a==""||b=="")
{
alert("!!! please fill the details !!!");
}
else 
{
{% for data in guest}
if(a=={{data.Guest_ID}} && b=={{data.Password}})
{
window.open("/");
}
{% endfor%}
}

}
</script>
</body>
</html>
